.alert {
  margin-bottom: 1px;
  height: 30px;
  line-height:30px;
  padding:0px 15px;
  width 15px;
}


.top-buffer{
	margin-top:60px;
}
	
	
	
	
.centerImg { 
    width: 50%; 
    height: 50%; 
    object-fit: contain; 
} 